<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Node SMS texting</title>
  </head>
  <body>
    <div class = "container">
      <h2>Send SMS Message</h2>
      <input type="tel" name = "number" id = "number" placeholder = "Enter phone number">
      <input type="text" name = "msg" id = "msg" placeholder = "Enter text message">
      <input type="button" id = "button" value = "SEND TEXT" class = "button button-primary">
    </div>
  </body>
</html>
